.Wrapper {
  margin: 0;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .Title {
    font-weight: 500;
    letter-spacing: .005em;
  }

  .ButtonWrapper {
    flex-direction: row;
  }

  .TextAreaWrapper {
    flex-direction: row;
    textarea {
      white-space: pre-wrap;
      min-width: 40rem;
      min-height: 20rem;
      margin: 0.5rem;
      max-width: 50%;
      overflow: scroll;
    }
  }
}
